
.team-member {
    display: flex;
  }

  .plusMinus {
    background-color:  rgb(21 184 41);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 5px;
  }

  .team {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .team > h2 {
    margin-bottom: 0;
    text-decoration: underline;
  }